.header {
    background-color: #02b3e4;
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 3px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 2px 5px 5px lightgrey;

}


.udacity-logo {
    width: 130px;
    margin: 0px;

}


.header-title {
    margin-left: auto;
    margin-right: 2em;
    text-align: right;
    margin-top: 5px;
}


.header-job {
    font-weight: bold;

}


.main {
    width: 100%;

}


.photo {
    max-width: 100%;
    border-radius: 5px;

}


.contact {
    width: 100px;
    margin: 30px;

}


footer {
    text-align: center;

}


@media screen and (max-width: 360px){

    .header-logo {
        width: 100px;

    }
    
    .header-title {
        margin-right: 1em;
        margin-top: 0px;

    }

    .header-job {
        margin: auto;

    }

.contact {
    width: 150px;
}

}


@media screen and (max-width: 399px){
    
    .header-title {
        margin-right: 1em;

    }

    .header-job {
        margin: auto;

    }

}
