@media screen and (max-width: 360px){
    .header-logo {
        width: 100px;
    }
    .header-title {
        margin-right: 1em;
    }
    .header-job {
        margin: auto;
    }
    .contact1,.contact2,.contact3,.contact4 {
        width: 67px;
        
    }
}

@media screen and (min-width: 399px){
    
    .header-title {
        margin-right: 1em;
    }
    .header-job {
        margin: auto;
    }
    .contact1,.contact2,.contact3,.contact4 {
        width: 67px;
        
    }
}

@media screen and (max-width: 768px){ 
    .contact1,.contact2,.contact3,.contact4 {
        width: 70px;
   }
}
    
